@model EntityLayer.Concrete.Job
@{
    ViewData["Title"] = "UpdateJob";
    Layout = "~/Views/Shared/_UILayout.cshtml";
}
<form method="post">
    @Html.Label("Meslek Adı:")
    @Html.TextBoxFor(X=>X.JobID ,new{@class="form-control"})
    <br />
    @Html.Label("Meslek İsim:")
    @Html.TextBoxFor(X=>X.JobName, new{@class="form-control"})
    <br />
    <button class="btn btn-outline-success">Güncelle</button>
</form>

